/**
 * @name Crimson Blade
 * @author Svoryyy
 * @version 1.0.0
 * @description Red and black theme with crimson blade
 */

@import url('https://raw.githubusercontent.com/Svryyy/discord-theme/refs/heads/main/core.css');

:root{
     --background: url('https://i.imgur.com/YT0yttv.png');
     --activetext-colour: white;
 
     --primary1-colour: red;
     --primary2-colour: rgba(255,0,0,0.5);
     --primary3-colour: rgba(100,0,0,0.6);
     --primary4-colour: rgba(100,0,0,0.4);
 
     --secondary1-colour: rgba(50, 50, 50, 0);
     --secondary2-colour: rgba(100,100,100,0.5);
     --secondary3-colour: rgba(0,0,0,0.6);
     --secondary4-colour: rgba(0,0,0,0.3);

}
  
/*
Theme Owned and Made by svry2.5
  
The items above are not owned by me, They go to there respected owners 
*/
